* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  outline: 1px auto red;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 738px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1199px;
    padding: 0 10px;
  }
}
