
    #game {
      position: relative;
      width: 100vw;
      height: 200px;
      border-bottom: 2px solid #535353;
      overflow: hidden;
    }
    #dino {
      position: absolute;
      bottom: 0;
      left: 100px;
      width: 40px;
      height: 45px;
      background: url(./img/minion.gif) no-repeat;
      background-size: contain;
      transition: bottom 0.3s ease;
    }
    #dino.jump {
      bottom: 80px;
    }
    .cactus {
      position: absolute;
      bottom: 0;
      width: 20px;
      height: 40px;
      background-size: 20px 40px;
      background: url(./img/kaktyc.jpg) no-repeat;
      background-size: contain;
      
    }
    #ground {
      position: relative;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: #535353;
    }
    #score {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 20px;
      color: #535353;
    }
    #game-over {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      color: #535353;
      display: none;
      text-align: center;
    }
    #restart {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 18px;
      cursor: pointer;
    }



























h2 {
    margin-bottom: 20px;
}

.calc {
    display: flex;
    align-items: center;
    gap: 15px;
}

input {
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background: #ddd;
    text-align: center;
    font-size: 16px;
    outline: none;
}

.buttonss {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.znak {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #444;
}

#equal {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #000;
    color: #fff;
    font-size: 18px;
}
