* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  outline: 1px auto red;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 738px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1199px;
    padding: 0 10px;
  }
}

.fotball-div {
  width: 720px;
  height: 220px;

  margin-left: 185px;

  border-width: 2px;
  border-radius: 37px;

  background-color: #5abb58;

  border-color: #000000;
}
.num-random-section {
  margin-left: 257px;
}

.fotball-text {
  margin-top: 36px;
  margin-left: 508px;
  margin-bottom: 36px;
}
