
    #game {
      position: relative;
      width: 100vw;
      height: 200px;
      border-bottom: 2px solid #535353;
      overflow: hidden;
    }
    #dino {
      position: absolute;
      bottom: 0;
      left: 50px;
      width: 40px;
      height: 45px;
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="45" viewBox="0 0 40 45"><path fill="%23535353" d="M10 25h5v15h5V25h5v-5h-5v-5h-5v5H10v5zm15-15h5v5h5v5h-5v15h-5V20h-5v-5h5v-5z"/></svg>') no-repeat;
      background-size: contain;
      transition: bottom 0.3s ease;
    }
    #dino.jump {
      bottom: 80px;
    }
    .cactus {
      position: absolute;
      bottom: 0;
      width: 20px;
      height: 40px;
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="40" viewBox="0 0 20 40"><path fill="%23535353" d="M8 0h4v30h4v5h-4v5h-4v-5H4v-5h4V0z"/></svg>') no-repeat;
      background-size: contain;
    }
    #ground {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: #535353;
    }
    #score {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 20px;
      color: #535353;
    }
    #game-over {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      color: #535353;
      display: none;
      text-align: center;
    }
    #restart {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 18px;
      cursor: pointer;
    }